/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body{
    font-family: 'Archivo', sans-serif;
}

/* COMPONENTS */
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 70%;
}

/* UTILITY */
.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid black;
}

.btn{
    border: none;
    border-radius: 40px;
}

.btn-nav{
    padding: 10px 15px;
}

.btn-hero{
    padding: 15px 30px;
}

/* HEADER */
header{
    display: flex;
    align-items: center;
    background-color: #3161E0;
    height: 80px;
}

header .header-class{
    display: flex;
    justify-content: space-between;
}

header .container .header-class .logo{
    width: 120px;
    height: 40px;
    background-color: #688DF3;
}

header .container .header-class .menu{
    width: 530px;
    height: 40px;
}

header .container .header-class .menu ul{
    list-style: none; 
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

header .container .header-class .menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

header .container .header-class .menu ul li a:hover{
    text-decoration: underline;
}

header .container .header-class .log-in{ 
    background-color: #FFFFFF;
}

header .container .header-class .log-in:hover{
    color: #3161E0;
} 
/* END HEADER */

/* MAIN */
/* JUMBOTRON */
main .jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 550px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

main .jumbotron .box-jumbo{
    text-align: center;
    max-width: 800px;
}

main .jumbotron .box-jumbo h1{
    margin-bottom: 50px;
    font-size: 60px;
}

main .jumbotron .box-jumbo p{
    margin-bottom: 30px;
    font-size: 21px;
}

main .jumbotron .box-jumbo .download{
    margin-right: 25px;
    background-color: #FFFFFF;
    font-size: 21px;
}

main .jumbotron .box-jumbo .download i{
    margin-right: 15px;
    font-size: 15px;
}

main .jumbotron .box-jumbo .download:hover{
    color: #3161E0;
}

main .jumbotron .box-jumbo .open{
    background-color: #23272A;
    color: white;
    font-size: 21px;
}

main .jumbotron .box-jumbo .open:hover{
    color: #3161E0;
}
/* END JUMBOTRON */

/* SECTION */
main .section{
    display: flex;
    justify-content: space-between;
    color: #23272A;
    padding: 120px 0;
    flex-wrap: wrap;
}

.bianco{
    background-color: #FFFFFF;
}

.grigio{
    background-color: #F6F6F6;
}

main .section .text{
    width: 340px;
}

main .section img{
    margin-bottom: auto;
}

main .section h2{
    padding-top: 40px;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 35px;
}

main .section p{
    font-size: 21px;
}


.wave-gray {
    background-color: #FFFFFF;
}

.wave-white {
    background-color: #f6f6f6;
}

.wave-gray img {
    filter: invert(0.965);
    transform: translate(0px, 5px);
}

.wave-white img {
    filter: invert(1);
    transform: translate(0px, 5px);
}


/* END SECTION */

/* SECTION-4 */
main .section-4{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: #23272A;
    padding: 120px 0;
}

main .section-4 h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

main .section-4 p{
    text-align: center;
    font-size: 20px;
}

main .section-4 .adventure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-4 .adventure h2{
    font-size: 30px;
}

main .section-4 #item-4{
    width: 100%;
}

main .section-4 .btn-adventure{
    background-color: #8EA1E1;
    color: #FFFFFF;
    font-size: 21px;
}

main .btn-adventure:hover{
    color: #23272A;
}

main .section-4 .btn-adventure i{
    margin-right: 15px;
}
/* END SECTION-4 */
/* END MAIN*/

/* FOOTER */
footer{
    background-color: #23272A;
    
    padding: 90px 0;
}

/* FOOTER TOP */
footer .container .footer-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4A5882;
    padding-bottom: 35px;
}

footer .container .social{
    width: 300px;
    color: #FFFFFF;
    
}

footer .container .social h2{
    /* width: 300px; */
    color: #7289DA;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 25px;
}

footer .container .social img{
    width: 25px;
    vertical-align: middle;
}

footer .container .social i{
    margin-top: 25px;
    font-size: 20px;
    margin-right: 30px;
}

footer .container .list ul{
    list-style: none;
}

footer .container .list ul li{
    margin-bottom: 15px;
}

footer .container .list ul li span{
    color: #7289DA;
    font-weight: bold;
}

footer .container .list ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

footer .container .list ul li a:hover{
    text-decoration: underline;
}
/* END FOOTER TOP */

/* FOOTER BOTTOM */
footer .container .footer-bottom{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

footer .container .footer-bottom .btn-blue{
    background-color: #8EA1E1;
    color: #FFFFFF;
}

footer .container .footer-bottom .btn-blue:hover{
    color: #23272A;
}
/* END FOOTER BOTTOM */
/* END FOOTER */